<div class="container">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<<h1>THE MARKETPLACE WHERE COMPANIES<br>
	 COMPETE TO HIRE YOU</h1>
	<p>Get 5 to 15 real job offers from 500+ top companies in one week</p>
	<div class='col-lg-2 col-md-2 col-sm-2'> 
		<button type="button" class="btn btn-huge btn-success btn-block">Apply</button>
	 </div>

	 <div class='col-lg-2 col-md-2 col-sm-2'> 
	 	<button type="button" class="btn btn-primary btn-huge btn-block">Sign in</button>
	</div>
</div>

<div class="marketing-inner">
	    <div class="container">
	      <div class="row-fluid">
	        <div class="span4">
	          <img class="icons" src="http://www.readyforce.com/static/images/icons/buildIcon.png">
	          <h2>Build your professional network</h2>
	          <p>Connect with influential business leaders, powerful campus programs, engaging networking events, and exciting jobs and internships at innovative companies.</p>
	        </div>
	        <div class="span4">
	          <img class="icons" src="http://www.readyforce.com/static/images/icons/discoverIcon.png">
	          <h2>Be discovered by your dream job</h2>
	          <p>Hundreds of companies are looking for you on Readyforce.  You are more than a resume.  One profile. One click. No paper resumes. No cover letters.</p>
	        </div>
	        <div class="span4">
	          <img class="icons" src="http://www.readyforce.com/static/images/icons/calendarIcon.png">
	          <h2>Find events designed for you.</h2>
	          <p>From hackathons to conferences to career fairs, Readyforce Events makes it easy for you to find and be found by powerful student oriented events.</p>
	        </div>
	      </div>
	    </div>
	</div>