<div class="index-header-image">
	<div class="container">
		<br><br><br><br><br>
		<div class="header-h1">THE MARKETPLACE FOR EXPERIENCED<br> FINANCE PROFESSIONALS</h1></div>
		<br>
		<div class="header-h2"><p>Get 5 to 15 real job offers from 500+ top companies in one week</p></div>
		<br>
		<div class='col-lg-4 col-md-4 col-sm-4'>
			<button type="button" class="btn btn-huge btn-success">Apply</button>
		</div>
		<div class='col-lg-2 col-md-2 col-sm-2'>
			<p class='role'>INVESTMENT BANKING</p>
			<p class='role'>SALES AND TRADING</p>
		</div>
		<div class='col-lg-3 col-md-3 col-sm-3'>
			<p class='role'>PRIVATE EQUITY AND VENTURE CAPITAL</p>
			<p class='role'>WEALTH MANAGEMENT</p>
		</div>
	</div>
</div>	




<br><br>
	</div>
</div>

<br><br>
<div class="container"> 

	<div class="row">
        <div class="col-lg-4">
          <h2>Streamlined Process</h2>
          <p>Get 5 to 15 real job offers in one week. Interview with the companies you like.</p>
       </div>
	
       <div class="col-lg-4">
          <h2>Salary Upfront</h2>
          <p>Save time. Know your future salary, equity, and signing bonus before you interview.</p>
    	</div>

    	<div class="col-lg-4">
          <h2>Salary Upfront</h2>
          <p>Save time. Know your future salary, equity, and signing bonus before you interview.</p>
    	</div>

	</div>

	<div class="row">
        <div class="col-lg-4">
          <h2>Streamlined Process</h2>
          <p>Get 5 to 15 real job offers in one week. Interview with the companies you like.</p>
       </div>
	
       <div class="col-lg-4">
          <h2>Salary Upfront</h2>
          <p>Save time. Know your future salary, equity, and signing bonus before you interview.</p>
    	</div>

    	<div class="col-lg-4">
          <h2>Salary Upfront</h2>
          <p>Save time. Know your future salary, equity, and signing bonus before you interview.</p>
    	</div>

	</div>

</div>