<footer>
	<div class="footer">
		<div class="container">
	   		<a href="#">Home</a>
			<a href="#">About</a>
			<a href="#">Employers</a>
			<a href="#">FAQ</a>
			<a href="#">Terms of Use</a>
			<a href="#">Privacy</a>
			<a href="#">Contact Us</a>
		</div>
    		<br><p class="text-muted credit">©2013 Newco, LLC. All Rights Reserved.</p>
    	</div>
    </div>
</footer>